@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


 .header {
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    font-family: "Cormorant Garamond", Times, serif;
 }

 .header_loginmenu {
   display: flex;
   justify-content: center;
   align-items: center;
   border-width: 0px;
   border-right-width: 1px;
   border-style: solid;
   border-image: linear-gradient( #000, #fff 50%, #000) 1;
   margin: 0;
   margin-right: 1%;
   padding-right: 1%;
   margin-top: 0;
   //text-align: left;
 }

 