@import "../../styles/colors.scss";
@import "../../styles/mixins.scss";

.submenu {
  @include popup_menu(20px);
  @include popup_window(27em);
  overflow-y: auto;
  scrollbar-width: thin;
  max-height: 300px;
}


