@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

 .login_field {
   text-align: left;
   margin: 10%;
 }

 .login_field p {
   margin: 5px;
 }

 .popup_menu {
  position: fixed;
  border-width: 1px;
 }

 .main_button {
  @include main_button
 }

 .title {
  @include title;
}
 