@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 0 1px; 
    border-style: solid;
    border-image: linear-gradient( #000, #fff 50%, #000) 1;
    background: radial-gradient( #000 40%, #00000000);
    backdrop-filter: blur(2px);
    min-height: 210px;
    min-width: 240px;
    font-family: inherit; 
    text-align: center;
    padding: 8px;
    opacity: 0;   
}

.content {
      animation-name: popup_fixed;
      animation-duration: 1s;
      animation-fill-mode: forwards; 

}

.content h2 {
    display: block;
    align-self: center;
    font-size: 28px;
    margin: 8px;
    color: $mainFontColor;
}

.content span {
    display: inline;
}
.content input {
    background-color: black;
    border-width: 1px;
    border-style: solid;
    border-color: $mainFontColor;
    color: inherit;
    border-radius: 4px;
    display: inline;

}

.close {
    & {
        align-self: flex-end;
    }
    @include main_button(16px);
}

.overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 999;
}