@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


 .notice {
  @include popup_menu_item;
  height: auto;
  max-height: 9em;
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  padding: 3%;
 }

 .description {
  @include description;
  min-height: 2em;
  max-height: 4em;
  max-width: 87%;
  align-self: flex-start;
  margin-left: 3%;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
}

.string {
  @include cuttedTitle;
  max-width: 90%;
  text-align: justify; 
  font-family: Calibri;
  display: block;

  & a {
    
    color: $link;
  }
}

.new {
  background-image: radial-gradient(  180px 77px at top , $newGradient 20%,  $bgGradient);
}

.date {
  max-width: 92%;
  flex-basis: content;
  align-self: flex-end;
}

 .title {
  @include cuttedTitle;
  max-width: 13em;
  height: 1.2em;
  color: $link;
  display: block;
 }





 
