@import "../../../../styles/colors.scss";
@import "../../../../styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');


 .wrap {
   position: relative;
   top: -65px;
   left: -235px;
   
 }

 .menu_item {
  @include popup_menu_item;
  @include menu_button;
}




 
