@import "./styles/colors.scss";

body {
  background-color: $bgColor;
  font-family: Calibri;
  color: $mainFontColor;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
